@import "../../Assets/styles/vars.scss";

.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 52px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $fs4;
  & p {
    display: block;
    width: fit-content;
    align-self: flex-start;
  }
}
